.services {
  
  height: 100vh;
  width: 100%;
}



.services-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}

.services-container h1
{
  color: black;
  font-size: 50px;
}


.services-cards
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  padding: 100px;
}

.box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 30%);
  border-radius: 30px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  margin-left: 30px;

}

img {
  width: 65px;
  height: 65px;
  margin: auto;
}
